a{
    text-decoration: none; 
    font-size: xx-large;
    color: #000000;
}

img{
    width: 300px; 
    height: 100px;
}
h1{
    text-align: center;
}

form{
    margin-left: 22%;
    width: 100%;
}
.txtboxStyle1{
    width: 28.5%;
}

.txtboxStyle2{
    width: 60%;
}
.btnStyle{
    margin-left: 90%;
    display:flex;
    position: relative;
    top: -70px;
    left: -400px;
    border: none;
}

.btnStyle input{
    background-color:#022851;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


[for=lname]{
    margin-left: 24.5%;
}

.radio{
    margin-left: 10%;
}
ul{
    list-style-type: none;
}
#Update_student {
    position: relative;
    left: 3px;
    top : 20px;
    color: #022851 ;
    font-family:  ProximaNova, sans-serif;
}

input  {
    position : relative;
    top: 5px;
    border: 1.5px solid #022851;
    border-radius: 6px;
    outline: none;
    width: 300px;
    height: 30px;
    
}

input:focus {
    border: 1.5px solid rgb(255, 191, 0);
    outline: none;
}

label {
    font-family: ProximaNova, sans-serif;
    position: relative;
    top: 5px;
    left: 1px;
    right: 129px;
    color: #022851;
    font-size: 15px;
}

input#male , input#female {
    position: relative;
    right: 30px;
    top: -20px;
    width: 15px;  
}

.Gender {
   position: relative;
   top: -30px;
   left: -35px;
   font-size: 14px;
}

#active {
    position: relative;
    top: -25px;
    left: -94px;
    width: 14px;
}

.Active {
    position: relative;
    top: -36px;
    left: -97px;
    font-size: 14px;
}

