table, th, td {
  border: 0px solid;
}

table {
  width: 100%;
}

th {
  height: 40px;
}


td {
  padding: 15px;
  text-align: left;
}

th {
  padding: 15px;
  text-align: left;
}

tr {background-color: #fee898;}

tr:nth-child(even) {
  background-color: #272781;
  color: white;
}

th {
  background-color: #080849;
  color: white;
}

table {
  border-collapse: collapse;
}
