.Whole {
    width:750px;
    height: 800px;
    position: relative;
    border: 2px solid #022851;
    border-radius: 10px;
    margin-top: 100px; 
    padding-bottom: 20px;
    margin: 40px auto;
    position: relative;
    background-color: white;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
#message_id {
    display :block;
    color:white;
    border : 2px solid #022851;
    border-radius: 10px;
    background : #022851;
    padding :20px;
    animation : fadeOut 6s forwards;
}
#Update_student {
    position: relative;
    left: 3px;
    top : 20px;
    color: #022851 ;
    font-family:  ProximaNova, sans-serif;
}

.btnStyle input[value="Update"] {
    background-color:#022851;
    width: 100px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    top: -70px;
    float: right;
}

.btnStyle input[value="Delete"] {
    background-color: grey;
    width: 100px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    top: -70px;
    float: right;
}
.btnStyle input[value="Update"]:hover{
    background-color: #0856a9;
}
.btnStyle input[value="Delete"]:hover
{
    background-color: rgb(175, 175, 175);
}
input  {
    position : relative;
    top: 5px;
    border: 1.5px solid #022851;
    border-radius: 6px;
    outline: none;
    width: 300px;
    height: 30px;
    background-color: rgb(226, 229, 229);
}

input:focus {
    border: 1.5px solid rgb(255, 191, 0);
    outline: none;
}

label {
    font-family: ProximaNova, sans-serif;
    position: relative;
    top: 5px;
    left: 1px;
    right: 129px;
    color: #022851;
    font-size: 15px;
    margin-right:250px;
}

input#male  {
    position: relative;
    right: 30px;
    top: -20px;
    width: 15px;  
}

input#female {
    position: relative;
    right: 30px;
    top: -20px;
    width: 14.75px; 
    left: -255px; 
    
}

.male {
   position: relative;
   top: -30px;
   left: -1px;
   font-size: 14px;
}
.female{
    position: relative;
   top: -30px;
   left: -252px;
   font-size: 14px;

}
.radio{
    position: relative;
    left:-4px;
}
#active {
    position: relative;
    top: -25px;
    left: -94px;
    width: 14px;
}

.Active {
    position: relative;
    top: -36px;
    left: -97px;
    font-size: 14px;
}


form {
    text-align: center;
}

input:disabled:hover {
    cursor: not-allowed;
  }


