{% extends "home.html" %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%block title%}
    <title>Departments-SRN</title>
    {%endblock%}

    {%block links%}
    <link rel="stylesheet" href="{% static 'styles/AssignDepartment.css' %}">
    {%endblock%}

</head>

<body>
   {%block content %}
    <div id="Whole">

        <form method="POST" id = "dep_form" >
            {% csrf_token %}
            <h1>Assign Department</h1>
            <!--name-->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="fixed-input" placeholder="Name" value="{{content.name}}"
                readonly><br>

            <!--ID-->
            <label for="id">ID:</label>
            <input type="text" id="id" name="studId" placeholder="202XXXXX" class="fixed-input" value="{{content.id}}"
                readonly><br>


            <!--GPA-->
            <label for="GPA">GPA:</label>
            <input type="text" id="GPA" name="studGpa" placeholder="GPA" class="fixed-input" value="{{content.gpa}}"
                readonly><br>


            <!--Level-->
            <label for="level">Level:</label>
            <input type="text" id="level" name="studLevel" placeholder="Level" class="fixed-input" value="{{content.level}}"
                readonly><br>
            

            <!--Department-->
            <label for="department">Department:</label>
            <select id="department" class="select-style">
                {% for option in department_options %}
                    {% if option == department %}
                        <option value="{{ option }}" selected>{{ option }}</option>
                    {% else %}
                        {% if option != 'General' %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
             
            </select>

            <br>
            <button type="submit" onclick="updateDep()">Submit</button>
            <script src="{% static 'scripts/AssignDepScript.js' %}"></script>

        </form> 
        <br><br>
        <div id="message"></div> 
    </div>
    {% endblock %}
</body>

</html>