<!Doctype Html>
<Html>   
<Head>    
  <Title>SRN Student Affairs </Title>
  <link rel="stylesheet" href="Styles\navStyle.css">

  <link rel="icon" type="image/png" href="tablogo.png">
  
</Head>
<div style= "background-color: #ffffff;">
  <header class = "headofpage">
    <a style= "padding: 10px;"; href="Home.html"><img src="Pictures\newlogo.png" style="width: 300px; height: 90px;padding: 20px;"/> </a>
    <!-- <hr> -->
     
    
    <div class ="navBar">
      <ul class ="navList">
        <li class="home"><a href="Home.html">Home </a></li> 
        
        <div class = "dropdown">
          <li class="dropbtn">Students</li>
          <div class="dropdown-content">
              <a href="ViewStudents.html">View students</a>
              <a href="AddStudent.html"> Add student </a>
          </div>
        </div>
  
        <li class ="s"><a href ="SearchStudent.html">Search</a></li>
        <li class="logout"><a href="Login.html">  Log out</a></li>
      </ul>
    </div>
      <!-- <hr> -->
    </header>
</div>

<Body>  
</Body> 
</Html>

