<!Doctype Html>
{%load static %}
<Html>   
<Head> 
  {% block title%}
    <Title>SRN Student Affairs </Title>
  {% endblock %}

  <link rel="stylesheet" href="{% static 'styles/navStyle.css' %}">
  <link rel="icon" type="image/png" href="{% static 'styles/pics/tablogo.png'%}">
  {% block links %}
  {% endblock %}
</Head>
<div style= "background-color: #ffffff;">
  <header class = "headofpage">
    <a style= "padding: 10px;"; href="/our_students/"><img src="{% static 'styles/pics/newlogo.png' %}" style="width: 300px; height: 90px;padding: 20px;"/> </a>
    <!-- <hr> -->   
    <div class ="navBar">
      <ul class ="navList">
        <li class="home"><a href="/our_students/">Home </a></li> 
        
        <div class = "dropdown">
          <li class="dropbtn">Students</li>
          <div class="dropdown-content">
              <a href="/our_students/vieww/">View students</a>
              <a href="/our_students/add_studentfun/"> Add student </a>
          </div>
        </div>
  
        <li class ="s"><a href ="/our_students/search/">Search</a></li>
        <li class="logout"><a href="/our_students/exit/">Exit</a></li>
      </ul>
    </div>
      <!-- <hr> -->
    </header>
</div>

<Body>  
  {% block content%}
  {% endblock%}
</Body> 
</Html>

