{% extends "home.html" %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%block links%}
    <link rel="stylesheet" href="{% static 'styles/view.css' %}">
  {%endblock%}

  {%block title%}
    <title>SRN-View Students</title>
  {%endblock%}
</head>
<body>
    {%block content%}
    <table border="1">
      <thead>
        <th id="name">Name</th>
        <th id="id">Id</th>
        <th id="status">Status</th>
        <th id="lvl">Level</th>
        <th id="dep">Department</th>
        <th id="gpa">GPA</th>
        <th id="actions">Actions</th>
      </thead>
        {% for x in our_students %}     
          <tr>
             <td> {{ x.fname }} {{x.lname}}</td>
             <td>{{ x.id }}</td>
             <td> {{ x.status}}</td>
             <td>{{ x.level }}</td>
            <td> {{ x.department }}</td>
            <td>{{ x.gpa }}</td>     
            <td>
              {% csrf_token %}
              <button class="status" type="submit" onclick="changeStatus()">{{x.status}}</button>
              <button class="update" type="submit" onclick="update()">Update</button><br>
              <button class="dep" type="submit" onclick="department()">Assign Department</button>
            </td>
          </tr>
        {% endfor %}
      </table>
  <script src="{% static 'scripts\searchScript.js' %}"></script>
  {%endblock%}
</body>
</html>